@model IEnumerable<OrderProduct>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ürün Listesi</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>
                        Sipariş Id
                    </th>
                    <th>
                        Ad Soyad
                    </th>
                    <th>
                        Fiyat
                    </th>
                    <th>
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var orderProduct in Model)
                {
                    <tr>
                        <td>@orderProduct.Id</td>
                        <td>@orderProduct.Name</td>
                        <td>@orderProduct.OrderPrice</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@orderProduct.Id" class="btn btn-primary" style="border:#2c3e50; background-color:#2c3e50;">
                                Detaylar
                            </a>
                            <a onclick="return confirm('Silmek İstediğinize Emin Misiniz');" asp-area="Admin" asp-controller="Order" asp-action="Delete" asp-route-id="@orderProduct.Id" class="btn btn-danger">
                                Sil
                            </a>
                        </td>
                    </tr>}
            </tbody>
        </table>
    </div>
</div>